@model Homework.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1 class="alert alert-danger text-center">刪除留言</h1>

<h5 class="alert alert-warning">您確定要刪除此筆留言嗎</h5>

<div class="card shadow">
    @if (Model.Photo != null)
    {
        <img src="@Url.Action("GetImage", new{gid=Model.GId})" class="card-img-top" alt="...">
    }
    <div class="card-body">
        <h3 class="card-title"><strong> @Html.DisplayFor(model => model.Title)</strong></h3>
        <p class="card-text">@Html.Raw(Model.Description.ToString().Replace("\r\n", "<br>"))</p>
        <p class="text-end fs-6">@Html.DisplayFor(model => model.Author) 於 @Html.DisplayFor(model => model.TimeStamp) 發佈</p>
        <div class="d-grid gap-2">
            <form asp-action="Delete">
                <input type="hidden" asp-for="GId" />
                <input type="submit" value="刪除" class="btn btn-danger btn-lg" onclick="return confirm('請注意!!您將會刪除此留言及所有回覆留言內容，且無法回復。確定要刪除嗎?')" />
            </form>
        </div>
    </div>
</div>

@await Component.InvokeAsync("VCReBooks",new{gid = Model.GId})

<a asp-action="Index">回留言板管理主畫面</a>
